@import "tailwindcss";

@media print {
  .no-print {
    display: none !important;
  }
  body {
    background: white !important;
  }
}

html {
  scroll-behavior: smooth;
}

body {
  @apply bg-slate-50 text-slate-900;
}
